    .color-modra{
        color: #5b94d7;
    }
    body{
        font-family: 'Inter Tight', sans-serif;
    }
    .idkss{
        margin: 0;
    }
    
    /* HEADER zlepsit responz*/
    .container-header{
        margin-left: 15em;
        margin-right: 15em; 
    }
    .navbar-toogler{
        border: none;
        outline: 0;
        box-shadow: none;
        color: rgba(0,0,0,.55);
        display: none;
        cursor: pointer;
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
        text-transform: none;
        margin: 0;
        font-family: inherit;
    }
    .lucasove-oblubene {
        display: block;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity));
        letter-spacing: 1px;
        box-sizing: border-box;
    }
    .container-heder {
        border-color: #d7eaff;
        height: 50px;
        color: #1a232f;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #dee2e6;
        display: flex;
        max-width: 1320px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }
    .discord-link {
        font-size: 12px;
        padding: 6px 10px;
        color: #989ca2;
        background-color: rgba(152, 156, 162, 0.15);
        border-color: rgba(152, 156, 162, 0.15);
        white-space: nowrap;
        border-radius: 50rem;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        letter-spacing: 1px;
        box-sizing: border-box;
    }
    .heder-span {
        line-height: 1;
        margin-right: 3rem;
        letter-spacing: 1px;
        box-sizing: border-box;
        color: #1a232f;
        font-size: 13px;
    }
    .header {
        display: flex;
        flex-direction: row;
        height: 80px;
        align-items: center;
    } 
    .header-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        
    }
    .button {
        background-color: #3597ff ;
        border-color: #3597ff ;
        color: white;
        height: 47px;
        border-radius: 6px;
        padding:12px 20px;
    }
    .header-list li {
        font-size: 14px;
        font-weight: 800;
        color: black;
        margin-right: 16px;
    }
    .header-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

     /* sekcia glasnak*/

    .sekcia-glasnak {
        color: white;
        background-color:#3597ff;
    }
    .zameranie {
        font-weight: 700;
        font-size: 2.5rem;
    }
    .h1-zam {
        font-weight: 300;
        font-size: 2.5rem;
    }
    .text-u-glasnaka {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-left: 15rem;
    }
    .container {
        margin: 0px 60px ;
    }
    .sekcia-glasnak-content {
        display: flex; 
        flex-direction: row;
    }
    .realizujeme{
        margin-top: 2px;
    }
    .glasnak-obrazok {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-right: 15rem;
    }
    .preco-openlab {
        display: flex;
        color: #212529;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        font-weight: 300;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    .h1-5 {
        margin-top: 0;
        overflow-wrap: break-word;
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 300;
        font-size: 2.5rem;
    }
    .bold {
    font-weight: 700;
    }
    .kde {
        color:#566b8d ;
        margin: 0px 48px 16px;
        margin-right: 3rem;
        margin-left: 3rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

     /* sekcia preco*/

    .why {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .card-details {
        padding-top: 3rem;
        flex: 0 0 auto;
        width: 25%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        box-sizing: border-box;
    }
    .card {
        text-align: left;
        border: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: white;
        background-clip: border-box;
        border-radius: 0.25;
    }
    .obrazok-v-karte {
        margin-left: 0;
        margin-right: 0;
        vertical-align: middle;
        width: 45px;
        margin-bottom: 1rem;
    }
    .h5 {
        font-weight: 700;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        margin-top: 0;
        line-height: 1.2;
        overflow-wrap: break-word;
        text-align: left;
        box-sizing: border-box;
    }
    .card-text {
        margin-bottom: 0;
        font-size: 0.875rem;
        color: #566b8d;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        text-align: left;
    }
    .container-nd {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        max-width: 1320px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-zarovnanie {
        justify-content: center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        box-sizing: border-box;
    }

    /*  sekcia vizia  */

    .vizia {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: block;
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
    }
    .nasa-vizia-text {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        max-width: 1320px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        display: block;
    }
    .zarovnanie-dva {
        align-items: center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        letter-spacing: 1px;
        box-sizing: border-box;
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
    }
    .nadpis {
        margin-bottom: 0;
        display: block;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
    }
    .hdva {
        margin-bottom: 3rem;
        font-weight: 300;
        font-size: 2.5rem;
        margin-top: 0;
        overflow-wrap: break-word;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .span {
        font-weight: 700;
        box-sizing: border-box;
        font-size: 2.5rem;
        line-height: 1.2;
        overflow-wrap: break-word;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        text-align: var(--bs-body-text-align);
    }
    .text-seda-jedna {
        color: #566b8d;
        margin-bottom: 1.5rem;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .vsetky-farby {
        justify-content: flex-end;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        flex-wrap: wrap;
        display: flex;
        flex: 0 0 auto;
        width: 50%;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .modra {
        color: #5b94d7;
        background-color: rgba(221, 236, 251, 0.4);
        width: 233px;
        height: 183px;
        border-radius: 4px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .kolko-tried {
        font-size: 90px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #5b94d7;
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .coho-jedna {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #5b94d7;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .zelena {
        color: #5cc19a;
        background-color:rgba(156, 238, 204, 0.4);
        width: 233px;
        height: 183px;
        border-radius: 4px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .kolko-studentov {
        font-size: 90px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #5cc19a;
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .coho-dva {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #5cc19a;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .zlta {
        color: #dbca68;
        background-color: rgba(238, 226, 156, 0.4);
        width: 233px;
        height: 183px;
        border-radius: 4px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .kolko-labmastrov {
        font-size: 90px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #dbca68;
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .coho-tri {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #dbca68;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .cervena {
        color: #b95e73;
        background-color: rgba(238, 156, 156, 0.4);
        width: 233px;
        height: 183px;
        border-radius: 4px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin: 0.5rem;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .kolko-skol {
        font-size: 90px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #b95e73;
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
    .coho-styri {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
        color: #b95e73;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    /*V AKYCH LABOCH*/

    .v-akych-laboch {
        padding-top: 3rem;
        padding-bottom: 3rem;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .laby-atd {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        max-width: 1320px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .align-items {
        align-items:center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        letter-spacing: 1px;
        box-sizing: border-box;

    }
    .header-laboch {
        margin-bottom: 0;
        flex: 0 0 auto;
        width: 33.33333333%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .header-n-idk {
        font-weight: 300;
        margin-bottom: 0;
        font-size: 2.5rem;
        margin-top: 0;
        line-height: 1.2;
        overflow-wrap: break-word;
        box-sizing: border-box;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .card-laby-group {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 auto;
        width: 66.6666667%;
        max-width: 100%;
        letter-spacing: 1px;
        box-sizing: border-box;
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
    }
    .card-laby {
        border-width: 6px;
        flex: 1 0 0%;
        margin-right: 0.5rem;
        border: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: white;
        background-clip: border-box;
        letter-spacing: 1px;
        box-sizing: border-box;
    }
    
    .card-body {
        padding-right: 3rem;
        padding-left: 3rem;
        padding-bottom: 3rem;
        padding-top: 1.5;
        flex: 1 1 auto;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        word-wrap: break-word;
        position: relative;
    }
    .card-tits {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-black-rgb),var(--bs-text-opacity));
        font-weight: 700;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        margin-top: 0;
        line-height: 1.2;
        overflow-wrap: break-word;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        margin-block-start: 1.67rem;
        margin-block-end: 1.67rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .card-texts {
        margin-bottom: 10px;
        font-size: 0.875rem;
        color: #566b8d;
        margin-top: 0;
        overflow-wrap: break-word;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .pozicia {
        bottom: 30px;
        position: absolute;
        vertical-align: middle;
        letter-spacing: 1px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .pozicia-seda {
        bottom: 30px;
        position: absolute;
        vertical-align: middle;
        letter-spacing: 1px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .d-none {
        display: none;
    }

    .card-laby:hover .pozicia {
        display: block;
    }
    .card-laby:hover .pozicia-seda {
        display: none;
    }
    .pozicia-karty-href {
        height: 100%;
        width: 100%;
        position: absolute;
        color: #0d6efd;
        text-decoration: underline;
        letter-spacing: 1px;
        box-sizing: border-box;
        cursor: pointer;
        word-wrap: break-word;
    }

    /*KDE SME*/

    .kde-sme {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .kde-sme-container {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        max-width: 1320px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .kde-sme-zarovnanie {
        justify-content: center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        box-sizing: border-box;
        letter-spacing: 1px;
    }
    .nadpis-kde-sme {
        text-align: center;
        font-weight: 300;
        margin-bottom: 3rem;
        font-size: 2rem;
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .kde-sme-podnadpis {
        text-align: center;
        font-weight: 300;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        margin-top: 0;
        line-height: 1.2;
        overflow-wrap: break-word;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .halova-miesto {
        margin-right: 3rem;
        margin-bottom: 0;
        flex: 0 0 auto;
        width: 41.6666666667;
        max-width: 100%;
    }
    .oznam{
        position: relative;
    }
    .eh{
        display: flex;
        align-items: center;
        max-width: 200px;
        cursor: default;
        font-size: 15px;
        margin-bottom: 0.5rem;
    }
    .eheh{
        margin-right: 5px;
        height: 15px;
        vertical-align: middle;
    }
    .cervena-eh{
        color: red;
    }
    .div-up{
        margin-top: 0;
    }
    .oznam-inner{
        display: flex;
        align-items: center;
        max-width: 200px;
        cursor: default;
        font-size: 15px;
        margin-bottom: 0.5rem;
    }
    .upozornenie-text{
        width: 600px;
        max-height: 280px;
        margin-bottom: 50px;
        padding: 15px;
        display: none;
        position: absolute;
        top: -10px;
        transform: translateY(-100%);
        background: white;
        border: 1px rgba(0, 0, 0, .2) solid;
        border-radius: 8px;
        box-shadow: 0px 0px 7px -1px rgb(0 0 0 / 24%);
        font-size: 14px;
        transition: .4s;
    }
    .oznam:hover .upozornenie-text {
        display: block;
    }
    .halova-miesto-blizsie {
        --bs-bg-opacity: 1;
        background-color: transparent;
        border: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border-radius: 0.25rem;
        letter-spacing: 1px;
        box-sizing: border-box;
    }
    .obrazok-halova {
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        width: 100%;
        vertical-align: middle;
        letter-spacing: 1px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .karta-halova {
        padding-top: 1.5rem;
        padding-right: 0;
        padding-left: 0;
        flex: 1 1 auto;
        padding: 1rem 1rem;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        --bs-bg-opacity: 1;
        word-wrap: break-word;
    }
    .h-kde-sme {
        color: #566b8d;
        font-weight: 300;
        margin-bottom: 1.5rem;
        align-items: center;
        display: flex;
        margin-top: -0.25rem;
        font-size: 1rem;
        line-height: 1.2;
        overflow-wrap: break-word;
        letter-spacing: 1px;
        box-sizing: border-box;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-bg-opacity: 1;
    }
    .h-dva-kde-sme {
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        margin-top: 0;
        font-weight: 500;
        line-height: 1.2;
        overflow-wrap: break-word;
        letter-spacing: 1px;
        box-sizing: border-box;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        --bs-bg-opacity: 1;
    }
    .kde-sme-tenky{
        font-weight: 300;
    }
    .dekoracia-kde-sme {
        font-size: 1.125rem;
        color: #3597ff;
        margin-top: 0;
        text-decoration: none;
        letter-spacing: 1px;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 1.2;
        overflow-wrap: break-word;
        --bs-bg-opacity: 1;
    }
    .nabrezna-fotka { 
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        width: 100%;
        vertical-align: middle;
        letter-spacing: 1px;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    .nabrezna-text {
        padding-top: 1.5rem;
        padding-right: 0;
        padding-left: 0;
        flex: 1 1 auto;
        padding: 1rem 1rem;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
        --bs-bg-opacity: 1;
        word-wrap: break-word;
    }

     /* sliders sekcia */
    .tetiominals{
        background-color: #f3f9ff;
        padding-top: 3rem;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .zarovnanie-koniec{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        align-items: flex-end;
    }
    .lava-strana{
        flex: 0;
        width: 41.6666667%;   
    }
    .nadpsi{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }


     /* heh sekcia */

    .heh {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

     /* sekcia niesme*/

    .niesme {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        letter-spacing: 1px;
        box-sizing: border-box;
        display: block;
    }
    .obrazok-niesme {
        vertical-align: middle;
        align-items: center;
        margin-left: 0.75rem;
    }
    .container-niesme {
        padding-top: 3rem;
        padding-bottom: 3rem;
        max-width: 1140px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .rada-niesme {
        border-color: #d7eaff;
        padding-bottom: 3rem;
        justify-content: center;
        border-bottom: 1px solid #dee2e6;
        flex: 1 1 auto;
        padding: 1rem 1rem;
        text-align: center;
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        box-sizing: border-box;
    }
    .nadpis-niesme {
        flex: 0 0 auto;
        width: 100%;
    }
    .niesme-h-dva {
        font-weight: 300;
        font-size: 2.5rem;
    }
    .light-span {
        font-weight: 300;  
    }
.card-border {
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.niesme-card-outer-left {
    margin-left: 3rem;
    padding-top: 3rem;
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    text-align: left;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.niesme-card-outer-mid {
    padding-top: 3rem;
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    text-align: left;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.niesme-card-outer-right {
    margin-right: 3rem;
    padding-top: 3rem;
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    text-align: left;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.card-niesme-body {
    padding-top: 1.5rem;
    padding-right: 0;
    padding-left: 0;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.card-niesme-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    margin-top: 0;
    line-height: 1.2;
    overflow-wrap: break-word;
    margin-left: 0;
}
.niesme-paragraf {
    margin-bottom: 0;
    color: #566b8d;
}
.spoznaj-nas-outer {
    padding-top: 3rem;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    box-sizing: border-box;
}
.spoznaj-nas-nadpis {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex: 0 0 auto;
    width: 100%;
}
.spoznaj-h-dva {
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 1.2;
    overflow-wrap: break-word;
}
.osoba-outer {
    margin-bottom: 1.5rem;
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    padding-right: 0rem;
    padding-left:  0rem;
    margin-top:  0rem ; 
}
.osoba-border {
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.osoba-obrazok {
    border-radius: 0.25rem;
    width: 100%;
    vertical-align: middle;
    width: 261px;
    height: 313px;
}
.osoba-text {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 0;
    flex: 1 1 auto;
}
.osoba-zameranie {
    font-size: 0.875rem;
    color: #566b8d;
    margin-bottom: 0.5rem;
    margin-top: -0.25rem;
    text-align: left;
}
.osoba-meno {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb),var(--bs-text-opacity));
    margin-bottom: 0;
    margin-top: 0rem;
    font-size: 1.25rem;
    text-align: left;
    margin-left: -0.25;
}
.osoba-text-seda {
    margin-bottom: 0;
    color: #566b8d;
    margin-top: 0;
    text-align: left;
}

 /* scam sekcia */

.scam {
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    display: block;
}
.container-scam {
    max-width: 1140px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.scam-zarovnanie {
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.scam-obrazok {
    margin-bottom: 0;
    flex: 0 0 auto;
    width: 50%;
}
.scam-text {
    flex: 0 0 auto;
    width: 50%;
}
.scam-header {
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    margin-top: 0;
    line-height: 1.2;
}
.scam-paragraf {
    color: #566b8d;
    margin-bottom: 3rem;
    position: relative;
    margin-top: 0;
    line-height: 1.2;
}
.a-scam {
    color: #3597ff;
    text-decoration: none;
}
.scam-sipka {
    margin-left: 0.5rem;
    vertical-align: middle;
}   

 /* gombitova sekcia */

.gombitova {
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    letter-spacing: 1px;
}
.rada-gombitova {
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.text-gombitova {
    margin-bottom: 0;
    flex: 0 0 auto;
    width: 33.3333333%;
}
.h-gombitova {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 1.2;
}
.gombitova-obrazky {
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    width: 66.66666667%;
}
.inner-img {
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.instagram-feet-fetish {
    margin: 100px 0;
}
.instagram-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.instagram-feet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.feet-fetish-layout {
    width: 100%;
    height: 100%;
    font-size: inherit;
}
.feet-wrapper {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.feet-grid{
    align-items: stretch;
    display: flex ;
    flex-direction: column;
}
.feet-grid-dva {
    gap: 0px;
    grid-template-columns: repeat(6,auto);
    display: grid;
    grid-auto-flow: dense;
}
.feet-grid-layout-cell {
    padding-bottom: calc(100% + 0px);
    position: relative;
}
.feet-grid-layout-cell-dva {
    position: absolute;
    align-items: stretch;
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.feet-grid-layout {
    flex: 1;
    overflow: hidden;
}
.feet-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.media-thumb-nail {
    width: 100%;
    height: 100%;
    animation-duration: .3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    background-color: var(--sli-grey);
    animation-name: MediaThumbnail__media-background-fade-in-animation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.container-xd {
    margin: 2rem;
}
.ehe{
    display: none;
}
.openlablogo {
    width: 120px;
    height: 128px;
}
.hehe-balenie{
    display: flex;
    align-items: flex-end;
    display: none;
}
.hehe {
    height: 44px;
    width: 22px;
}
.he{
    width: 542px;
    height: 418px;
}
@media only screen and (max-width: 1200px) {
    .header-items{
        display: none;
        margin: 0;
    }
    .glasnak-obrazok{
        margin-right: 0;
    }
    .he{
        width: 517.5px;
        height: 398px;
    }
    .container-header{
        height: 57px;
        margin-left: 8rem;
    }
    .openlogo{
        width: 120px;
        height: 28px;
        padding-bottom: 15px;
    }
    .lucasove-oblubene{
        display: none;
    }
    .hehe{
        display: block;
    }
    .container{
        max-width: 720px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .sekcia-glasnak-content{
        align-items: center;
    }
    .text-u-glasnaka .header{
        margin-left: 0;
    }
}
@media only screen and (max-width:991px) {
    .sekcia-glasnak{
        padding-top: 57px;
        margin-bottom: 3rem;
        width: 75rem;
        height: 75rem;
    }
}
